.profile {
  margin: 0 auto;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  background: #e8e9eb;
  
  .group {
    left: -4px;
  }
  
  .group,
  .face,
  .eye,
  .mouth,
  .hair,
  .neck,
  .body {
    position: absolute;
  }
  
  .face {
    border-radius: 100px;
    z-index: 20;
    top: 50px;
    left: 65px;
    width: 80px;
    height: 100px;
    background: #f0beaf;
  }
  
  .eye {
    z-index: 30;
    top: 95px;
    left: 87px;
    width: 10px;
    height: 10px;
    background: #424b54;
    border-radius: 100%;

    &::before {
      position: absolute;
      content: "";
      left: 25px;
      width: 10px;
      height: 10px;
      background: inherit;
      border-radius: 100%;
    }
  }
  
  .mouth {
    z-index: 20;
    top: 120px;
    left: 90px;
    width: 30px;
    height: 15px;
    border-radius: 0 0 100px 100px;
    background: #424b54;
    overflow: hidden;
  }
  
  .hair {
    z-index: 99;
    top: 40px;
    left: 64px;
    width: 83px;
    height: 44px;
    border-radius: 100px 100px 0 0;
    background: #424b54;
  }
  
  .neck {
    z-index: 13;
    width: 30px;
    height: 30px;
    background: #f0beaf;
    top: 130px;
    left: 90px;
    border-radius: 100%;
  }
  
  .body {
    z-index: 10;
    top: 150px;
    left: 55px;
    width: 100px;
    height: 150px;
    background: #4d9de0;
    border-radius: 100px;
  }
}