@import '../../styles/settings.scss';

.component {
  background: darken($color-dark, 3%);
  padding: ($base-size * 1.5) 0;
  width: 100%;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: $base-size / 2 0;
    }
  }
}